<audio></audio>
<p class="lead js-player__info"></p>
<div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <button class="btn btn-success js-player__play"><span class="glyphicon glyphicon-play"></span></button>
        <button class="btn btn-default js-player__pause"><span class="glyphicon glyphicon-pause"></span></button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default js-player__volume-up"><span class="glyphicon glyphicon-volume-up"></span></button>
        <button class="btn btn-default js-player__volume-down"><span class="glyphicon glyphicon-volume-down"></span></button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default js-player__prev"><span class="glyphicon glyphicon-fast-backward"></span></button>
        <button class="btn btn-default js-player__next"><span class="glyphicon glyphicon-fast-forward"></span></button>
    </div>
</div>